In [2]:
import numpy as np

In [3]:
import pandas as pd

In [8]:
import pandas as pd

data = {'Name': ['Superman', 'Batman', 'Wonder Woman', 'Spider-Man', 'Iron Man', 'Captain America', 'The Flash', 'Green Lantern', 'Thor', 'Hulk'],
        'Superpower': ['Super strength, flight, heat vision', 'Genius intellect, martial arts, gadgets', 'Super strength, flight, combat skills', 'Super strength, web-slinging, spider-sense', 'Genius intellect, powered armor suit', 'Super strength, agility, combat skills', 'Super speed, time travel, phasing through objects', 'Power ring, flight, energy constructs', 'Super strength, flight, weather manipulation', 'Super strength, regeneration, durability'],
        'Gender': ['Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male'],
        'Origin': ['Krypton', 'Gotham City', 'Themyscira', 'New York City', 'New York City', 'New York City', 'Central City', 'Coast City','Asgard','New York City'],
        'Weakness': ['Kryptonite','No superpowers','Ares\' Godwave','Ethyl chloride pesticide','Alcoholism','No superpowers without serum','Cold temperatures','Yellow color','Separation from Mjolnir','Calming techniques'],
        "Age": [35, 32, 5000, 21, 48, 101, 25, 30, 1000, 40]}

df = pd.DataFrame(data)

print(df)

              Name                                         Superpower  Gender  \
0         Superman                Super strength, flight, heat vision    Male
1           Batman            Genius intellect, martial arts, gadgets    Male
2     Wonder Woman              Super strength, flight, combat skills  Female
3       Spider-Man         Super strength, web-slinging, spider-sense    Male
4         Iron Man               Genius intellect, powered armor suit    Male
5  Captain America             Super strength, agility, combat skills    Male
6        The Flash  Super speed, time travel, phasing through objects    Male
7    Green Lantern              Power ring, flight, energy constructs    Male
8             Thor       Super strength, flight, weather manipulation    Male
9             Hulk           Super strength, regeneration, durability    Male

          Origin                      Weakness   Age
0        Krypton                    Kryptonite    35
1    Gotham City                No superpowers    32
2     Themyscira                 Ares' Godwave  5000
3  New York City      Ethyl chloride pesticide    21
4  New York City                    Alcoholism    48
5  New York City  No superpowers without serum   101
6   Central City             Cold temperatures    25
7     Coast City                  Yellow color    30
8         Asgard       Separation from Mjolnir  1000
9  New York City            Calming techniques    40

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Superpower  10 non-null     object
 2   Gender      10 non-null     object
 3   Origin      10 non-null     object
 4   Weakness    10 non-null     object
 5   Age         10 non-null     int64
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

In [11]:
df.describe()

              Age
count    10.00000
mean    633.20000
std    1563.78805
min      21.00000
25%      30.50000
50%      37.50000
75%      87.75000
max    5000.00000

In [13]:
df.loc[4]

Name                                      Iron Man
Superpower    Genius intellect, powered armor suit
Gender                                        Male
Origin                               New York City
Weakness                                Alcoholism
Age                                             48
Name: 4, dtype: object

In [15]:
df.isnull()

    Name  Superpower  Gender  Origin  Weakness    Age
0  False       False   False   False     False  False
1  False       False   False   False     False  False
2  False       False   False   False     False  False
3  False       False   False   False     False  False
4  False       False   False   False     False  False
5  False       False   False   False     False  False
6  False       False   False   False     False  False
7  False       False   False   False     False  False
8  False       False   False   False     False  False
9  False       False   False   False     False  False

In [16]:
df.isnull().sum()

Name          0
Superpower    0
Gender        0
Origin        0
Weakness      0
Age           0
dtype: int64